<!DOCTYPE html>
<html>
  <head>
    <title>AuthorSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <h1 style="text-align: center">Cassie L Morrison</h1>
    <ul>
      <li><%= link_to 'Books',  book_path %></li>
      <li><%= link_to 'Events',  event_path %></li>
      <li><%= link_to 'Blogs',  blog_path %></li>
      <li><a href="#about">About</a></li>
    </ul>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
